:root {
  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /* TEXT COLOR */
  --light-txt-cl: #ffffff;
  --main-txt-cl: #303030;
  --accent-txt-cl: #ff6c00;
  --gris06-txt-cl: rgba(157, 164, 189, 0.6);
  --grinlight-txt-cl: #9da4bd;
  --grey-txt-cl: #555555;
  /* BACKGROUD COLORS */
  --accent-bg-cl: #ff6c00;
  /* OTHER */
}

.page {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

/* КОНТЕЙНЕР */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 1px solid red;
}

.header {
  background-color: rgb(198, 192, 18);
}
/* BUTTON */
.header .btn,
.about-btn,
.price-btn {
  font-family: inherit;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--light-txt-cl);
  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  cursor: pointer;
}

.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  background-color: transparent;
  color: var(--gris06-txt-cl);
}

.slider-btn.active {
  color: var(--light-txt-cl);
}

.about-btn {
  color: var(--main-txt-cl);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

/* LINKS SOCIAL */
.link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(16 / 11);
  letter-spacing: 0.2em;
  color: var(--main-txt-cl);
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.mb20 {
  margin-bottom: 20px;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
}
.header-logo {
  margin-right: 132px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .header-list,
.header-link {
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  margin-right: 40px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
}
/* Стан ховера посилань */
.header-iteam:hover,
.header-wrap-link:hover,
.header-iteam:focus,
.header-wrap-link:focus {
  color: var(--accent-txt-cl);
  cursor: pointer;
}

.header-wrap {
	display: flex;
	align-items: center;
}

/* HERO */
.hero {
  background-color: #ff6c00;
}

.hero-list {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}

.hero-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--gris06-txt-cl);
}

.hero-title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.hero-subtitel {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--grinlight-txt-cl);
}

/* ABOUT */
.about-container {
	display: flex;
	gap: 30px;
}

.about-list {
	display: flex;
	gap: 30px;
}

.about-wrap {
  width: 484px;
}
.about-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.about-titel {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--main-txt-cl);
}

.about-subtitel {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
}

/* PRICE */
/* .price-container{
	display: flex;
} */
.price {
  background-color: orange;
}

.price-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--gris06-txt-cl);
}

.price-titel {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 44px;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.price-iteam {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--grinlight-txt-cl);
}

.price-wrap {
  margin-bottom: 50px;
}

/* BENEFIT */
.benefit-container {
	display: flex;
}
.benefit-wrap {
  width: ;
}
.benefit-number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--main-txt-cl);
}

.benefit-symbol {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-txt-cl);
}

.benefit-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--main-txt-cl);
}

.benefit-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.benefit-titel {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--main-txt-cl);
}

.benefit-subtitel {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
}

/* TEAM */
.team-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.team-titel {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 44px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--main-txt-cl);
}

.team-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.team-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

/* GALLARY */
.gallary-undertitel {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}
