:root {
	/* Fonts */
	--main-font: "Open Sans", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	/* Backgraund color */
	--background-team: #F7F7F7;
	
	/* Text color */
	--main-txt-cl: #303030;
	--light-txt-cl: #ffffff;
	--accent-txt-cl: #ff6c00;
	--grey-txt-cl: #9DA4BD;
	--grey-txt-cl-55: #555555;
	--grey-txt-cl-60: rgba(157, 164, 189, 0.6);
	--grey-txt-cl-70:rgba(157, 164, 189, 0.12);
	/* Other */
	--btn-radius: 25px;
	--iteam: 1;
	--indent: 30px;
}

body{
	font-family: var(--main-font);
	font-size: 18px;
	line-height: calc(30 / 18);
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
}

/* Reset */
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

img {
	display: block;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-gallery {
	padding-top: 120px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	/* outline: 2px solid red; */
}


/* Card */

.card-set {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.card-set-iteam {
	flex-basis: calc((100% - var(var(--indent)) * var(--iteam) - 1) / var(--iteam));
}

.header{
	background-color: #191C26;
}



/* Header */

.header-conteiner {
	display: flex;
	align-items: center;
}

.header-link{
	margin-right: 70px;
}

.header-nav {
	margin-right: auto;
}

.header-list {
	display: flex;
	gap: 30px;
}

.header-nav-link,
.header-contact {
	display: block;
	align-items: center;
	margin-top: 47px;
	margin-bottom: 47px;
   margin-right: 40px;
   font-weight: 600;
   font-size: 12px;
   line-height: calc(16 /12);
   letter-spacing: 0.1em;
   color: var(--light-txt-cl);
}

.btn {
	width: 150px;
	min-height: 40px;
	padding: 10px 13px;
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: calc(16 / 12);
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: var(--light-txt-cl);
	border: 1px solid var(--accent-txt-cl);
   border-radius: var(--btn-radius);
	background-color: transparent;
	cursor: pointer;
}

.header-group {
	display: flex;
	align-items: center;
}

.header-contact {
	margin-right: 40px;
}

.header-nav-link.link:hover,
.header-nav-link.link:focus {
	color: var(--accent-txt-cl);
}  

.btn:hover,
.btn:focus {
	background-color: var(--accent-txt-cl);
}

.header-contact:hover,
.header-contact:focus {
	color: var(--accent-txt-cl);
}

/* Hero */
.hero {
	background-color: #191C26;
}
.hero-list {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 12);
	letter-spacing: 0.2em;

}

.hero-link:hover,
.hero-link:focus {
	color: var(--accent-txt-cl);
}

.hero-group {
	width: 480px;
}

.hero-uppertitel {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
   font-weight: 600;
   font-size: 11px;
   line-height: calc(15 /11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--grey-txt-cl-60);
}

.hero-uppertitel::before {
	content: '';
	display: block;
	
	width: 60px;
	height: 1px;

	background-color: var(--grey-txt-cl-60);
}

.hero-titel {
	margin-bottom: 20px;
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 72px;
   line-height: calc(85 /72);
   letter-spacing: 0.05em;
   color: var(--light-txt-cl)
}
.hero-subtitel {
	color: var(--grey-txt-cl);
}


.slider-btn {
	font-family: inherit;
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;
	color: var(--grey-txt-cl-60);
	background-color: transparent;
	cursor: pointer;
}   

.slider-btn.active {
	color: var(--light-txt-cl);
}

/* About us */
.about-container {
	display: flex;
	gap: 30px;
}

.about-list {
	display: flex;
	gap: 30px;
}

.about-group{
	width: 500px;
}

.about-uppertitel {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   color: var(--main-txt-cl);
}

.about-uppertitel::before {
	content: '';
	display: block;

	width: 60px;
	height: 1px;

	background-color: var(--main-txt-cl);
}

.about-titel {
	margin-bottom: 20px;
	font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 / 42);
   letter-spacing: 0.05em;
   color: var(--main-txt-cl);   
}

.about-subtitel {
	margin-bottom: 20px;
	font-weight: 400;
   font-size: 18px;
   line-height: calc(30 / 18);
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl-55);   
}

.about-description {
	margin-bottom: 39px;
	font-weight: 400;
   font-size: 14px;
   line-height: calc(26 / 14);
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl-55);
} 

.about-btn {
   font-weight: 600;
   font-size: 12px;
   line-height: calc(16 / 12);
   letter-spacing: 0.09em;
   color: var(--main-txt-cl);
	cursor: pointer;
}    

/* Services and price */

.service {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #191C26;
	background-image: url(../images/price/price-img.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.service-uppertitel {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   color: var(--grey-txt-cl-60);
}

.service-uppertitel::before {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background-color: var(--grey-txt-cl-60);
}
.service-titel {
	margin-bottom: 44px;
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 / 42);
   letter-spacing: 0.05em;
   color: var(--light-txt-cl);
}

.price-item {
	margin-bottom: 20px;
	font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl);
}	

.price-item {
	display: flex;
	align-items: baseline;
	gap: 12px;
}

.price-item::before {
	content: "";
	display: block;
	flex-grow: 1;
	height: 1px;

	background-color: var(--grey-txt-cl-70);
} 

.price-iteam-serv {
	order: -1;
}

.price-list:first-child {
	background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:last-child {
	background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}


.service-btn {
	font-weight: 600;
   font-size: 12px;
   line-height: calc(16 / 12);
   letter-spacing: 0.09em;
   color: var(--main-txt-cl);
	cursor: pointer;
}

.price-block {
	display: flex;
	margin-bottom: 44px;
}

.price-list {
	flex-basis: 570px;
	justify-content: space-between;
	padding: 20px 30px;
}

.price-item:last-child {
	margin-bottom: 0;
}

.price-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Benefits */

.benefits-group{
	width: 480px;
}

.benefits-container {
	display: flex;
	align-items: center;
	gap: 130px;
}

.benefits-left-side {
	flex-basis: 50%;
}

.benefits-list {
	min-width: 370px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-left: auto;
}

.benefits-item {
	flex-basis: 170px;
	min-height: 133px;
	padding: 20px;
	text-align: center;
	background-color: var(--light-txt-cl);
}

.benefits-number {
	position: relative;
   display: inline-block;
   font-weight: 700;
   font-size: 42px;
   line-height: 1.3571428571;
   text-align: center;
   letter-spacing: .05em;
   color: var(--main-txt-cl);
}

.benefits-tex {
	font-weight: 600;
   font-size: 11px;
   line-height: 1.3636363636;
   text-align: center;
   color: var(--main-txt-cl);
}

.benefits-number {
	font-weight: 700;
   font-size: 42px;
   line-height: calc(57 / 42);
   letter-spacing: 0.05em;
   color: var(--main-txt-cl);
}
.benefits-simbol{
	font-weight: 600;
   font-size: 16px;
   line-height: calc(22 / 16);
   color: var(--accent-txt-cl);   

}
.benefits-text {
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   color: var(--main-txt-cl);
}

.benefits-uppertitel {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--main-txt-cl);
}

.benefits-uppertitel::before {
	content: '';
	display: block;
	
	width: 60px;
	height: 1px;

	background-color: var(--main-txt-cl);
}

.benefits-titel {
	margin-bottom: 20px;
	font-family: var(--secondary-font);
	font-weight: 700;
   font-size: 42px;
   line-height: calc(49 /42);
   letter-spacing: 0.05em;
   color: var(--main-txt-cl);
}
.benefits-subtitel {
	font-weight: 400;
   font-size: 18px;
   line-height: calc(30 / 18);
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl-55);
}



/* Team */

.team {
	background-color: var(--background-team);
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
} 

.team-uppertitel {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--main-txt-cl);
}

.team-uppertitel::before {
	content: '';
	display: block;
	
	width: 60px;
	height: 1px;

	background-color: var(--main-txt-cl);
}

.team-titel {
	margin-bottom: 44px;
	font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 / 42);
   letter-spacing: 0.05em;
   color: var(--main-txt-cl);
}

.team-nam {
	font-weight: 400;
   font-size: 18px;
   line-height: calc(25 / 18);
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--main-txt-cl);
}
.team-position {
	font-weight: 400;
   font-size: 14px;
   line-height: calc(19 / 14);
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--accent-txt-cl);
}

/* Gallery */

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.gallery-uppertitel{
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--main-txt-cl);
}

.gallery-uppertitel::before {
	content: '';
	display: block;
	
	width: 60px;
	height: 1px;

	background-color: var(--main-txt-cl);
}

/* Booking and contacts */

.contatcs-group {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #191C26;
	background-image: url(../images/contacts/contacts-img.png);
	background-repeat: no-repeat;
	background-position: left calc(50% + 312px) top;
	background-size: auto;
}

.contacts-container {
	display: flex;
}

.booking,
.contacts {
	flex-basis: 50%;
}

.contacts {
	padding-left: 100px; 	
}

.title--theme-dark {
   font-family: var(--secondary-font);
	margin-bottom: 44px;
   font-weight: 700;
   font-size: 42px;
   line-height: calc(49 /42);
   letter-spacing: 0.05em;
   color: var(--light-txt-cl);
}

.contacts-item {
	margin-bottom: 20px;
   font-weight: 400;
   font-size: 18px;
   line-height: calc(30 / 18);
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl);
}

.contacts-uppertitle {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 70px;
	margin-bottom: 20px;
   font-weight: 600;
   font-size: 11px;
   line-height: calc(15 / 11);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--light-txt-cl);
}

.contacts-uppertitle::before {
	content: '';
	display: block;
	
	width: 60px;
	height: 1px;

	background-color: var(--grey-txt-cl-60);
}

.contacts-schedule {
	font-weight: 400;
   font-size: 18px;
   line-height: calc(30 / 18);
   letter-spacing: 0.02em;
   color: var(--grey-txt-cl);
}

/* Footer */

.footer {
	padding-top: 57px;
	padding-bottom: 55px;
}
.footer-container {
	display: flex;
	align-items: center;
}
.footer-copyright {
	margin-right: auto;
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 11);
	letter-spacing: 0.2em;
	color: var(--grey-txt-cl);
}

.footer-media-list {
	display: flex;
	gap: 40px;
	align-items: center;
}

.footer-media-list::before {
	content: '';
	display: block;
	width: 60px;
	height: 1px;
	background-color: var(--main-txt-cl);
}

.footer-link {
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
color: var(--main-txt-cl);
}